* {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;

}
body{ 
	background-color:#F1D693;
}

header {
		background-color: #EDC45E;
		display: flex;
		justify-content: space-between;
		height: 150px;
		
}


nav ul li{
	list-style-type: none;	
	display: inline-block;
	font-size: 26px;
	

	
}




.logo {

	padding-left: 20px;
	padding-top: 5px;

	
		
}

nav ul li a {
	padding: 60px 35px;
	display: block;
	
}

nav ul li a:hover {
	text-decoration: underline;

	
}

.attuale {
	text-decoration: underline;
}


a{
    text-decoration: none;
    color:black;
}


h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 150px;
}
h2{
	font-family: 'Shantell Sans', cursive;}


.titolo {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	width:100%; 
	color:#FAF1DA; 
 	font-size: 60px;
	text-shadow: 6px 6px #393838bf;
	line-height: 120px;
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}
.home{
	background-image: url("immagini/fondo2.jpg");
}
.pasta{
	background-image: url("immagini/fondopasta.jpg");
}

.sezione-prodotti {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin:0 auto;
            margin-top: 5rem;
        }

.prodotti-img {
	width: 300px;
	height: 260px;
	border: solid black 1px;
	overflow: hidden;
	position: relative;
	transition: all 1s;
	
	
	
}

.banercito{
	font-size: 30px;
	color:#FAF1DA; 
	text-shadow: 6px 3px 1px #393838bf;
	background-color: rgba(0,0,0,0.21);
	height: 70px;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	position: absolute;
	top:0px;
	transition: all 1s;
	
		

}

.prodotti-img:hover .banercito {
	background-color: rgba(184,184,184,0.01);
	top:-90px;
	
}
.sezione-prodotti .prodotti-img:hover{
	width: 330px;
	height: 286px;
}

.banercito h3 {
	
	font-family: 'Shantell Sans', cursive;
}
#pasta1{
	background-image: url("immagini/fusilli.jpg")
}
#pasta2{
	background-image: url("immagini/ravioli.jpg")
}
#pasta3{
	background-image: url("immagini/tortellini.jpg")
}


.pastatitle{
	clear: both;
	text-align: center;
	margin: 30px;
}

.pastadesc p {
	margin-left: 30px;
}

footer{
	text-align: center;
	margin-top: 250px;
	padding-bottom: 10px;
}

.sezione-redes {
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            width: 20%;
            margin: 0 auto;
            margin-top: 2rem;
			margin-bottom: 2rem;
        }

.redes {
	width:30px;
	height: 30px;
	
}

.contat {
	font-size: 2rem;

}

@media (min-width: 576px) {
	
}


@media (min-width: 577px) and (max-width: 1200px){
	.prodotti-img{
		margin: 20px auto;
		
	}	
	header {
		background-color: aqua;
	}
	
	.sezione-prodotti{
		flex-direction: column;
	}
}


